#scenario-admin {
	width: 90%;
	background-color: #ccc;
	height: 90%;
	padding: 5px;
	position: relative;
}
/*
 * left side view panel styles
 */
.left-panel {
	height: 100%;
	width: 80%;
	background-color: #F0F0F0;
	overflow: scroll;
	float: left;
}
.view-panel { /*  this is the draggable panel which contains node and decision blocks */
	background-color:white; 
	background-image:url('/resources/scenario/plumb/img/dynamicAnchorBg.jpg'); 
	font-family:Helvetica;
	width: 5000px;
	height: 5000px;
	position: relative;
}
td.scenario-cell {
	min-width: 18px;
	min-height: 16px;
	height: 16px;
	width: 18px;
	margin: 0px;
	border: solid 1px #E0E2FF;
	padding: 0px;
	background-color: #FFF;
}

/*  Question Node Styles */

div.question-div {
	background-color: #C49090;
	width: 100px;
	height: 100px;
	position: relative;
}

.question-textarea {
	background-color: #F0FCF0;
	resize: none;
	overflow: hidden;
	border: 0;
	width: 80%;
	height: 80%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
}

/* Answer Node Syltes */
div.answer-div {
	width: 75px;
	height: 75px;
	background-color: #346789;
	position: relative;
}
.answer-textarea {
	background-color: #F0FCF0;
	resize: none;
	overflow: hidden;
	border: 0;
	width: 80%;
	height: 80%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
}

/*
ul.control-bar {
	margin:0px;
	padding:0px;
	height: 10%;    
    width: 80%; 
}
ul.control-bar li {	
	list-style-type: none;
	display: inline;
	margin-left: 5px;
	background-color: #ccc;
	font-size: 1em;
	position: relative;
    top: -75%;
    cursor: pointer;
}

*/


/*
 * Right side scenario list styles
 */
.right-panel {
	width: 19%;
	margin-left: 1%;
	height: 100%;
	float: right;
	background-color: #F0F0F0; 
	overflow: scroll;
}
form#scenario-form {
	margin: 0px;
	padding: 0px;
}
span.error {
	color: #FF0000;
	font-size: .75em;
}
ul.scenario-list {
	margin: 0px;
	padding: 0px;
}
ul.scenario-list li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: 100%;
	border-bottom:solid 1px #CCC; 
	cursor: pointer;
}
input.scenario-input {
	width: 100%;
}
